<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2 ?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap"
        rel="stylesheet">
    <!-- Fuentes de Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap" rel="stylesheet">
    
    <!-- Enlace CSS-->
    <link rel="stylesheet" href="../../src/css/font_google.css">
    <link rel="stylesheet" href="../css/styles.css">

    
</head>

<body>
    <header>
        <h1>Sebastian Bernal, Contacts</h1>
    </header>
    <nav>
            <ul>
                <section><a href="../../index.html">Go home</a></section>     
        </nav>
    <div class="contenedor-formulario"><form action="#">
        <h2>To Contact me</h2>
        <input typle ="text" placeholder="Your name..." required>
        <input typle ="email" placeholder="Your email..." required>
        <button type="submit">Send</button>
    </form></div>
</body>
