<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>

    <!-- Fuentes de Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap" rel="stylesheet">

    <!-- Enlace CSS -->
    <link rel="stylesheet" href="/src/css/styles.css">
</head>

<body>

    <header>
        <h1>Sebastian Bernal, Projects</h1>
    </header>

    <nav>
        <a href="../../index.html">Go home</a>
    </nav>

    <main>
        <div class="projects-container">

            <div class="project-card">
                <h2>Inventario Riwi</h2>
                <p>Symple Console project developed in Python.</p>
                <p><a href="https://github.com/sebasfbb07/InventariorRiwi.git" target="_blank">View on GitHub</a></p>
            </div>

            <div class="project-card">
                <h2>Calculador de propina</h2>
                <p>A simple system developed in Python that allows you to calculate the tip.</p>
                <p><a href="https://github.com/sebasfbb07/CalculadorPropina.git" target="_blank">View on GitHub</a></p>
            </div>

            <div class="project-card">
                <h2>Modulo de ventas</h2>
                <p>Simple project developed in Python to keep track of a store's sales</p>
                <p><a href="https://github.com/sebasfbb07/ModuloDeVentas-13.git" target="_blank">View on GitHub</a></p>
            </div>

        </div>
    </main>

</body>

</html>

